[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
pillow = "*"

[dev-packages]
ipython = "*"
memory-profiler = "*"
psutil = "*"

[requires]
python_version = "3.9"
